USE [master]
GO
/****** Object:  Database [SalesOrderDB]    Script Date: 7/7/2026 1:49:50 PM ******/
CREATE DATABASE [SalesOrderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesOrderDB', FILENAME = N'C:\Users\ASUS\SalesOrderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesOrderDB_log', FILENAME = N'C:\Users\ASUS\SalesOrderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesOrderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesOrderDB]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 7/7/2026 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Address3] [nvarchar](255) NULL,
	[State] [nvarchar](50) NULL,
	[PostCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 7/7/2026 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 7/7/2026 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[ReferenceNo] [nvarchar](100) NULL,
	[ClientID] [int] NULL,
	[TotalExcl] [decimal](18, 2) NOT NULL,
	[TotalTax] [decimal](18, 2) NOT NULL,
	[TotalIncl] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderDetail]    Script Date: 7/7/2026 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TaxRate] [decimal](5, 2) NOT NULL,
	[ExclAmount] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[InclAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [CustomerName], [Address1], [Address2], [Address3], [State], [PostCode]) VALUES (1, N'Harsha', N'Colombo 03', N'Galle Road', N'Sri Lanka', N'Western', N'00300')
INSERT [dbo].[Client] ([ClientID], [CustomerName], [Address1], [Address2], [Address3], [State], [PostCode]) VALUES (2, N'Nipuna', N'Kandy', N'Peradeniya', N'Sri Lanka', N'Central', N'20000')
INSERT [dbo].[Client] ([ClientID], [CustomerName], [Address1], [Address2], [Address3], [State], [PostCode]) VALUES (3, N'Gamage', N'Galle', N'Matara Road', N'Sri Lanka', N'Southern', N'80000')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([ItemID], [ItemCode], [Description], [UnitPrice]) VALUES (1, N'ITM-001', N'Asus Vivobook Laptop', CAST(185000.00 AS Decimal(18, 2)))
INSERT [dbo].[Item] ([ItemID], [ItemCode], [Description], [UnitPrice]) VALUES (2, N'ITM-002', N'Vivo X200 Pro mini', CAST(240000.00 AS Decimal(18, 2)))
INSERT [dbo].[Item] ([ItemID], [ItemCode], [Description], [UnitPrice]) VALUES (3, N'ITM-003', N'65W Fast Charger', CAST(8500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrder] ON 

INSERT [dbo].[SalesOrder] ([OrderID], [InvoiceNo], [InvoiceDate], [ReferenceNo], [ClientID], [TotalExcl], [TotalTax], [TotalIncl]) VALUES (1, N'75060', CAST(N'2026-07-07T00:00:00.000' AS DateTime), N'789-520', 3, CAST(185000.00 AS Decimal(18, 2)), CAST(18500.00 AS Decimal(18, 2)), CAST(203500.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrder] ([OrderID], [InvoiceNo], [InvoiceDate], [ReferenceNo], [ClientID], [TotalExcl], [TotalTax], [TotalIncl]) VALUES (2, N'885-520', CAST(N'2026-07-07T00:00:00.000' AS DateTime), N'5484162841-12', 2, CAST(8500.00 AS Decimal(18, 2)), CAST(850.00 AS Decimal(18, 2)), CAST(9350.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrder] ([OrderID], [InvoiceNo], [InvoiceDate], [ReferenceNo], [ClientID], [TotalExcl], [TotalTax], [TotalIncl]) VALUES (3, N'78903', CAST(N'2026-07-07T00:00:00.000' AS DateTime), N'654960', 3, CAST(185000.00 AS Decimal(18, 2)), CAST(18500.00 AS Decimal(18, 2)), CAST(203500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SalesOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] ON 

INSERT [dbo].[SalesOrderDetail] ([OrderDetailID], [OrderID], [ItemCode], [Description], [Note], [Quantity], [Price], [TaxRate], [ExclAmount], [TaxAmount], [InclAmount]) VALUES (1, 1, N'ITM-001', N'Asus Vivobook Laptop', N'', 1, CAST(185000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(185000.00 AS Decimal(18, 2)), CAST(18500.00 AS Decimal(18, 2)), CAST(203500.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderDetail] ([OrderDetailID], [OrderID], [ItemCode], [Description], [Note], [Quantity], [Price], [TaxRate], [ExclAmount], [TaxAmount], [InclAmount]) VALUES (2, 2, N'ITM-003', N'65W Fast Charger', N'', 1, CAST(8500.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(8500.00 AS Decimal(18, 2)), CAST(850.00 AS Decimal(18, 2)), CAST(9350.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderDetail] ([OrderDetailID], [OrderID], [ItemCode], [Description], [Note], [Quantity], [Price], [TaxRate], [ExclAmount], [TaxAmount], [InclAmount]) VALUES (3, 3, N'ITM-001', N'Asus Vivobook Laptop', N'black color lap', 1, CAST(185000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(185000.00 AS Decimal(18, 2)), CAST(18500.00 AS Decimal(18, 2)), CAST(203500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Item__3ECC0FEA6FCD4D31]    Script Date: 7/7/2026 1:49:50 PM ******/
ALTER TABLE [dbo].[Item] ADD UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SalesOrd__D796B22721ED18BD]    Script Date: 7/7/2026 1:49:50 PM ******/
ALTER TABLE [dbo].[SalesOrder] ADD UNIQUE NONCLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[SalesOrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[SalesOrder] ([OrderID])
ON DELETE CASCADE
GO
USE [master]
GO
